body, html{
    margin: 0;
    height: 100%;
    font-family: 'Epilogue', sans-serif;
}
#root{
    height: 100%;
}
.cont{
    height: 100%;
}
.homeCont{
    height: 100%;
}
.productInfo{
    height: 100%;
    background-color: #5F5F5F;
}

.landingPage{
    height: 100%;
    background-image: url("/public/images/landing.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navCont{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: rgb(252,124,124);
    background: linear-gradient(90deg, rgba(252,124,124,1) 0%, rgba(253,190,190,1) 100%);
}
.navCont p{
    margin-right: 30px;
    margin-bottom: 0;
}
.navLinks a{
    text-decoration: none;
    color: #5F5F5F;
    font-size: 1.1rem;
}
.navLinks a:hover{
    color: #000000;
}
.brandName{
    font-size: 1.5rem;
}
.title{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin: 50px;
    height: 100%;
    color: #fff;
}
.title img{
    width: 40%;
}
.titleInfo h1{
    font-size: 6rem;
    font-weight: 300;
}
.titleInfo{
    width: 40%;
    margin: 0 auto;
}